.dig {
    padding: 2%;
    overflow: hidden;
    display: grid;
    grid-area: inipag;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "eDig eDig"
        "imgDig digTxt"
        "imgDig ds"
        "imgDig car";
}
.imgDig { 
    width: map-get($fontSizePor , size10 );
    height: auto;
    grid-area: imgDig;
    img{
        width: map-get($fontSizePor , size10 );
        height: 700px;
        }
}
.digTxt {
    width: map-get($fontSizePor , size10 );
    margin-bottom: map-get($fontSize, size2 );
    grid-area: digTxt;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}
.ds { 
    width: map-get($fontSizePor , size10 );
    margin-bottom: map-get($fontSize, size2 );
    grid-area: ds;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}
.car {
    grid-area: car;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}
.eDig{
    width: map-get($fontSizePor, size10 );
    height: auto;
    grid-area: eDig;
    text-align: center;
    font-size: map-get($fontSize, size4 );
    margin-bottom: map-get($fontSize, size2 );
    color: $colorTexto;
}
.textoP{
    font-family: sans-serif;
    font-size: map-get($fontSizePor, size10 );
    padding: 1%
}
.hcard{
    @extend .h3Ex;
    margin: map-get($fontSize , size1 );
}