@media only screen and (max-width: 768px) {
/* INICIO FOOTER */
  .footer {
  display: grid;
  grid-template-columns: 19% 47% 33%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
      "logoimg logoimg logoimg"
      "imgdatos dt1 inicio"
      "imgdatos dt1 inicio"
      "rrss rrss rrss";
.imgdatos {
  grid-area: imgdatos;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.logoimg {
  grid-area: logoimg;
  width: 100%;
  height: auto;
  a {
  display: flex;
  flex-direction: row;
  justify-content: center;
      img {
      width: 60%;
      }
  }
}
.inicio {
  grid-area: inicio;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.rrss {
grid-area: rrss;
width: 100%;
height: auto;
align-items: center;
  .imgRrss{
      width: map-get($fontSizePor , size5);
      text-align: center;
  }
}
.dt1 {
  grid-area: dt1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  p {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin-top: initial;
      }
}
a{
  text-decoration: none;
  color: black;
}
.inicio li{
  list-style: none;
  margin-top: 30%;
  text-align: center;
  }
  }
/* FIN FOOTER */
/* INICIO HEADER */
  .header {
  flex-direction: column;
  align-items: center;
  height: auto;
  .logoHeader{
      a{
          img{
              width: map-get($fontSizePor,size6);
              height: 150px;
              text-align: center;
          }        
      }
      width: 100%;
  }
  .navbar{
      width: 100%;
      justify-content: center;
      p{
          margin-right: 0;
      }
      .nav-links{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          li:hover{
              transform: $hoverScale1;
              color: $hoverNav;
          }
      }
      .libar{
          list-style: none;
          padding: 15px 5px;
      }
      a{
          color: black;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
      }
  }
  }
/* FIN HEADER */
/* INICIO DIGITAL */
  .gridPadre{
  .dig {
      padding: 5%;
      display: grid;
          grid-template-columns: 100%;
          grid-template-rows: auto auto auto auto;
          grid-template-areas:
              "imgDig"
              "digTxt"
              "ds"
              "car";
      .imgDig { 
          width: map-get($fontSizePor,size10);    
          grid-area: imgDig;
          img{
              width: map-get($fontSizePor,size10);
              height: auto;
          }
      }
      .digTxt { grid-area: digTxt; }
      
      .ds { 
          h3{
              text-align: center;
          }
          ul{
              text-align: center;
          }
          grid-area: ds; }        
      .car {
          h3{
              text-align: center;
          }
          ul{
              text-align: center;
          }
          grid-area: car; }
      }
  }
/* FIN DIGITAL */
}
