.texto{
    color: $colorBlanco;
    font-family: $fontAri;
    font-weight: bold;
    text-align: center;
}
.textoDig{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.finIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.h3Ex{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: $colorTexto;
}