$fontSize: (
    size1:10px,
    size2:20px,
    size3:30px,
    size4:40px,
    size5:50px,
    size6:60px,
    size7:70px,
    size8:80px,
    size9:90px,
    size10:100px
);
$fontSizePor: (
    size1:10%,
    size2:20%,
    size3:30%,
    size4:40%,
    size5:50%,
    size6:60%,
    size7:70%,
    size8:80%,
    size9:90%,
    size10:100%
);